.box {
  width: 100px;
  height: 100px;
  background-color: red;
  opacity: 0;
  margin-left: 0;
  transition: opacity 0.5s ease-out, margin-left 0.5s ease-out;
}

.box.animate {
  opacity: 1;
  margin-left: 100px;
}